# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://seu_usuario:sua_senha@localhost:3306/nome_do_banco_de_dados?schema=public"
PORT= 3000
CLIENT_ID=seu_google_client_id
CLIENT_SECRET=seu_google_client_secret
CALLBACK_URL=sua_rota_de_redirecionamento_apos_autenticacao
SECRET="sua_chave_secreta"

