@import "./animation.scss";


.Container {
    animation: goInScreen 2s forwards ease;
    transition: background-color 2s ease, color 2s ease;
    &.darkmode {
      background-color: #303030;
      color: #ffffff; 
    }
  
    &.lightmode {
      background-color: #fff;
      color: #000;
    }
  }
  

.MainForm{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.ComapnyForm{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

.AreaInput{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
}