@import "./animation.scss";

.MainForm{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

.ComapnyForm{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

.AreaInput, .AreaSelect{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
}

.Label{
  padding-left: 0.1rem;
}

.TitleForm{
  text-align: center;
}

.AreaBnt{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Bnt{
  background-color: #d40047;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #efefef;
  height: 1.4rem;
  width: 15rem;
}


.Anime{
  animation: BntAnimation 1s forwards ease;
}

@media (max-width: 425px) {
  .Bnt{
    width: 5rem;
  }
  .Label{
    font-size: 0.75rem;
  }
  .TitleForm{
    font-size: 1.4rem;
  }
}

@media (max-width: 375px) {
  .AreaBnt{
    justify-content: flex-start;
    padding-left: 0.25rem;
  }
  .Label{
    font-size: 0.65rem;
  }
  .SelectArea{
    font-size: 0.65rem;
  }
  .TitleForm{
    font-size: 1.2rem;
  }
}

