@import "./animation.scss";

.MainForm{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.ComapnyForm{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

.AreaInput, .AreaSelect{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
}

.AreaInput{
  position: relative;
}

.LabelSelect, .Label{
  padding-left: 0.1rem;
}

.AreaBnt{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Bnt{
  background-color: #d40047;
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 8px;
  color: #efefef;
  height: 1.4rem;
  width: 15rem;
}

.Anime{
  animation: BntAnimation 1s forwards ease;
}