@import './animation.scss';

.Container {
    animation: goInScreen 2s forwards ease;
    transition: background-color 2s ease, color 2s ease;
    &.darkmode {
      background-color: #303030;
      color: #dfdfe3; 

      .Input{
        border: none;
      }
    }
  
    &.lightmode {
      background-color: #fff;
      color: #000;

      .Input{
        border: 1px solid #000;
      }
    }
}

.Input{
  border-radius: 6px;
  height: 2rem;
  padding-left: 0.3rem;
  width: 30rem;
}



