@use './animation.scss';
@use "./color.scss" as color;

.Container {
    animation: goInScreen 2s forwards ease;
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    transition: background-color 0.5s ease, color 0.5s ease;
    &.darkmode {
      background-color: color.$grayColor;
      color: color.$whiteGray; 

      .Input{
        border: none;
      }
    }
  
    &.lightmode {
      background-color: color.$white;
      color: color.$black;

      .Input{
        border: 1px solid color.$black;
        ;
      }
      .EnterpriseName{
        color: color.$ghostColor;
      }
    }
}

.Input{
  border-radius: 6px;
  height: 2rem;
  padding-left: 0.3rem;
  width: 30rem;
}


@media (max-width: 1440px) {
  .Input{
    width: 20rem;
  }
}

@media (max-width: 425px) {
  .Input{
    width: 15rem;
  }
}

@media (max-width: 375px) {
  .Input{
    width: 10rem;
  }
  .Input::placeholder{
    font-size: 0.65rem;
  }
  .EnterpriseName{
    font-size: 1rem;
  }
}


